.task{
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    border: 4px solid #eb9a78;
    min-height: 80px;
    gap: 25px;
    padding: 20px;
    margin: 20px 0;
    word-break: break-all;

    &_done{
        border: 4px solid #719191;
        background-color: #719191;
        color: white;
    }

    &__button{
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: none;
        border: 2px solid #719191;
        border-radius: 5px;

        &_done{
            background-color: #719191;
            position: relative;
            border: 2px solid white;
        }

        &_done::before{
            background-image: url('https://img.icons8.com/ios-filled/50/000000/checkmark--v1.png');
            background-repeat: no-repeat;
            background-size: 15px 15px;
            width: 20px;
            height: 20px;
            display: block;
            content: "";
            position: absolute;
            top: 0px;
        }
    }

    &__link{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; 
    }  
}